<!-- Site banner -->


    <div class="banner">
        <div class="container">
           <div class="demo">
                    <div class="clearfix" >
                <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                    <li data-thumb="img/thumb/cS-1.jpg"> 
                        <img src="./Ang-data/img/cS-1.jpg" />
                         </li>
                   <!--  <li data-thumb="img/thumb/cS-2.jpg"> 
                        <img src="img/cS-2.jpg" />
                         </li>
                    <li data-thumb="img/thumb/cS-2.jpg"> 
                        <img src="img/cS-3.jpg" />
                         </li> -->
                    
                </ul>
            </div>
            </div>
    </div>
  </div>
    <!-- Middle content section -->
    <div class="middle">
        <div class="container" >
      
            <div class="col-md-4">
                <h2>Ayat Lookup</h2>
                <div class="spacetop">
                <div class="row "> 
               <div class="form-group">
  <label for="sel1">Chapter :</label>
  <select class="form-control" id="sel1" ng-model="ayat.chapter" ng-change="onsurahselect()">
    <option ng-repeat="surah in surahlist">{{surah.surahnumber}} </option>
 
  </select>
</div>

<div class="form-group">
  <label for="sel2">Verse:</label>
  <select class="form-control" id="sel2" ng-model="ayat.verse" ng-change="onverseSelect()">
    <option ng-repeat="verse in ayatlist">{{verse.verse}}</option>
 
  </select>
</div>

              <br> 
             <div class="row pullrt2">   <a ng-href="#/surah/{{ayat.chapter}}/ayat/{{ayat.verse}}" class="btn btn-danger " value="Read" ng-click="displaychapter()"> Read</a> </div>
             </div>
            </div>
                  <div class="col-md-8 content">
           
           
            </div>
        </div>
    </div>


<div class="container">
 <h2 class="text-centre ">Surah List  </h2>
 <div class="row">
 <div  class="col-lg-3 " ng-repeat="data in surahlist" >
               <a ng-href="#/surah/{{data.surahnumber}}"><span class="label label-default mediumfont"> {{data.surahnumber}} - {{data.surahname}} :   	{{data.translation}}</span> </a>
             
              
                </div>
                </div>
</div>
