<!-- Site banner -->



    <!-- Middle content section -->
    <div class="middle">
        <div class="container" >
      <div class="row">
            <div class="col-md-4">
                <h2>Ayat Lookup</h2>
               
               <div class="form-group">
  <label for="sel1">Chapter :</label>
  <input type="text" class="form-control" id="sel1" ng-model="orderdata" ng-keyup="onorderupdate()">
    
 
  
</div>


              <br> 
            </div>
           
                  <div class="col-md-8 ">
           
               
 <div   class="row panel bgltblue" >
 
               <div> <p class="h1 text-center padding-bottom"> Result </p></div>
                    <div  ng-repeat="data in elasticresponse" class="row panel bgltblue">
                       
                           <div class="arabicdisplay row text-right"><b> Product: {{data._source.productname}} Supplier: {{data._source.supplier}} Date: {{data._source.time}} </b>    </div>
                </div>




            </div>
       
   </div>
  
</div>
